<!-- Begin Page Content -->
<div class="container-fluid">

  <div class="row mb-3">
    <div class="col-6">
      <div class="card shadow h-100 py-2">
        <div class="card-header py-3">
          <h4 class="m-0 font-weight-bold">Mi Perfil</h4>
        </div>
        <div class="card-body p-4">
          <form>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="exampleInputEmail1">Clave</label>
                  <input type="email" class="form-control" placeholder="Clave" value="7709" readonly>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="exampleInputEmail1">No. empleado</label>
                  <input type="email" class="form-control" placeholder="No. empleado" value="1454A" readonly>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Nombre</label>
              <input type="email" class="form-control" placeholder="Nombre">
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="exampleInputEmail1">Apellido paterno</label>
                  <input type="email" class="form-control" placeholder="Apellido paterno">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="exampleInputEmail1">Apellido materno</label>
                  <input type="email" class="form-control" placeholder="Apellido materno">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Guardia</label>
              <input class="form-control" value="Guardia Azul" readonly>
            </div>
            <button type="submit" class="btn btn-danger btn-block">Guardar</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card shadow py-2">
        <div class="card-header py-3">
          <h4 class="m-0 font-weight-bold">Usuario</h4>
        </div>
        <div class="card-body p-4">
          <form>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="exampleInputEmail1">Usuario</label>
                  <input type="email" class="form-control" placeholder="Clave" value="7709" readonly>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="exampleInputEmail1">Contraseña</label>
                  <input type="email" class="form-control" placeholder="No. empleado" value="1454A" readonly>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-danger btn-block">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>


</div>
<!-- /.container-fluid -->