<!-- Begin Page Content -->
<div class="container-fluid">

  <div class="row mb-3">
    <div class="col-12">
      <div class="card shadow h-100 py-2">
        <div class="card-header py-3 d-flex justify-content-between">
          <h4 class="m-0 font-weight-bold">Historial de Emergencias - 09/02/2019</h4>
          <h4 class="m-0 font-weight-bold">Guardia Azul <img src="brand/g_azul.png" width="5%"></h4>
        </div>
        <div class="card-body p-4">
          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Folio</th>
                <th scope="col">Tipo de Servicio</th>
                <th scope="col">Conductor</th>
                <th scope="col">Hr. Salida</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">55234</th>
                <td>Incendio</td>
                <td>Juan Ivan Villa</td>
                <td>10:00 am</td>
              </tr>
              <tr>
                <th scope="row">55235</th>
                <td>Incendio</td>
                <td>Oscar Beltran Lirios</td>
                <td>11:00 am</td>
              </tr>
              <tr>
                <th scope="row">55236</th>
                <td>Incendio</td>
                <td>Laura Reyes Luz</td>
                <td>03:00 pm</td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-danger btn-block">Generar Reporte</button>
        </div>
      </div>
    </div>
  </div>


</div>
<!-- /.container-fluid -->