<!-- Begin Page Content -->
<div class="container-fluid">

  <div class="row mb-3">
    <div class="col-12">
      <div class="card shadow h-100 py-2">
        <div class="card-header py-3 d-flex justify-content-between">
          <h4 class="m-0 font-weight-bold">Comisiones {{ fecha | date: 'dd/MM/yyyy' }}</h4>
          <h4 class="m-0 font-weight-bold">Guardia Roja <img src="assets/brand/g_roja.png" width="5%"></h4>
        </div>
        <div class="card-body p-4">
          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">No. empleado</th>
                <th scope="col">Nombre</th>
                <th scope="col">Comision</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let vulcano of vulcanos">
                <th scope="row">{{ vulcano.numero_empleado }}</th>
                <td>{{ vulcano.nombre }} {{ vulcano.apellido_paterno }} {{ vulcano.apellido_materno }}</td>
                <td>
                  <select name="unidad" class="form-control form-control-sm" (change)="asignarComision($event.target.value, vulcano._id)">
                    <option value="Selecciona">Selecciona</option>
                    <option *ngFor="let comision of comisiones" value="{{comision._id}}">{{ comision.comision }}</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-danger btn-block">Asignar</button>
        </div>
      </div>
    </div>
  </div>

  <h1>Historial mensual</h1>

  <div class="row mb-3">
    <div class="col-12">
      <div class="card shadow h-100 py-2">
        <div class="card-header py-3 d-flex justify-content-between">
          <h4 class="m-0 font-weight-bold">Comisiones 01/02/2019</h4>
          <h4 class="m-0 font-weight-bold">Guardia Azul <img src="assets/brand/g_azul.png" width="5%"></h4>
        </div>
        <div class="card-body p-4">
          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">No. empleado</th>
                <th scope="col">Nombre</th>
                <th scope="col">Comision</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">55234</th>
                <td>Juan Ivan Villa</td>
                <td>Comision</td>
              </tr>
              <tr>
                <th scope="row">45676</th>
                <td>Oscar Beltran Lirios</td>
                <td>Comision</td>
              </tr>
              <tr>
                <th scope="row">45676</th>
                <td>Laura Reyes Luz</td>
                <td>Comision</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->