<!-- Begin Page Content -->
<div class="container-fluid">

  <div class="row">
    <div class="col-12">
      <div class="card shadow h-100 py-2">
        <div class="card-header text-center py-3">
          <h4 class="m-0 font-weight-bold">Alertas</h4>
        </div>
        <div class="card-body p-4">
          <table class="table tale-sm">
            <thead>
              <tr>
                <th>Usuario</th>
                <th>Latitud</th>
                <th>Longitud</th>
                <th>Fecha</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let alerta of alertas">
                <td>{{ alerta.usuario.email }}</td>
                <td>{{ alerta.ubicacion.latitud }}</td>
                <td>{{ alerta.ubicacion.longitud }}</td>
                <td>{{ alerta.fecha | date : 'dd/MM/yyyy hh:mm' }}</td>
                <td>
                  <i class="ml-2 mb-2 far fa-edit" data-toggle="modal" data-target="#exampleModal" (click)="atenderAlerta(alerta)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Atender Alerta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <h4>Ubicacion de la alerta</h4>
        <div id="gmap"></div>
      </div>
    </div>
  </div>
</div>